.oxmod-story-list{
/* CSS */
	li{
		border-radius: 10px;
		height: 130px;
		margin:15px;
		background-color: #e5e5f5;
		padding-left:15px;
		padding-right: 130px;
		line-height: 1.2;
		overflow: hidden;
		h4{
			font-size: 12px;
			color:#999;
			font-weight: 400;
			padding: 15px 0 10px;
		}
		h2{
			font-size: 22px;
			color:#111;
			//padding-right: 15px;
		}
		img{
			float: right;
			height: 100%;
			width: 115px;
			margin-right: -130px;
		}
		a{
			tap-highlight-color:none;
		}
	}
 }
